<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OptiO2{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/global.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<svg style="display:none;">
    <filter id="displacementFilter">
        <feTurbulence type="turbulence"
                      baseFrequency="0.01"
                      numOctaves="2"
                      result="turbulence"/>
        <feDisplacementMap in="SourceGraphic"
                           in2="turbulence"
                           scale="200"
                           xChannelSelector="R"
                           yChannelSelector="G"/>
    </filter>
</svg>

<!-- Navbar -->
{% include 'components/organisms/navbar.html' %}

<!-- Sidebar -->
{% include 'components/organisms/sidebar.html' %}

<!-- Main Content -->
<main class="container mx-auto px-4 pl-32 pt-20">
    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>