@import "tailwindcss";

@layer base {
    html,
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        min-height: 100%;
        /* Disable overscroll behavior */
        overscroll-behavior: none;
        overscroll-behavior-y: none;
    }

    body {
background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;        background-blend-mode: overlay, overlay, overlay, overlay, normal;
    }
}

@layer utilities {
    .glass-liquid {
        filter: drop-shadow(-8px -10px 46px #0000005f);
        backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
        transition: opacity 0.26s ease-out;
    }

    .glass-liquid::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        overflow: hidden;
        border-radius: calc(infinity * 1px);
        box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
        inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
    }
}